/* styles.css */
.root {
    -fx-background-color: #F4F4F4;
}

.side-buttons {
    /*-fx-background-color: white;*/
    /*-fx-text-fill: black;*/
    /*-fx-font-size: 24px;*/
    /*-fx-background-radius: 40;*/
    /*-fx-min-width: 60px;*/
    /*-fx-min-height: 60px;*/
    /*-fx-cursor: hand;*/
    /*-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 8, 0.2, 0, 2);*/
    -fx-background-color: white;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
    -fx-graphic-text-gap: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 6, -3, 0, 0); /* type, color, blur, spread, offsetX, offsetY */
    -fx-cursor: hand;
}

.side-buttons:hover {
    -fx-background-color: #f0f0f0;
}

.play-button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 24px;
    -fx-background-radius: 40;
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-cursor: hand;

}

.media-button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-background-radius: 40;
    -fx-min-width: 10px;
    -fx-min-height: 10px;
    -fx-cursor: var();
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 8, 0.2, 0, 2);
}

.media-button:hover {
    -fx-background-color: #f0f0f0;
}

.control-bar {
    -fx-background-color: white;
    -fx-background-radius: 40;   /* makes pill shape */
    -fx-padding: -10 20 -10 20;    /* space around buttons */
    -fx-spacing: 20;
    -fx-alignment: center;
    /* Shadow to match your Figma example */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 8, 0.2, 0, 2);
}

/* Console container */
.console-box {
    -fx-background-radius: 10;
    -fx-border-width: 50px;
    -fx-border-radius: 10;
    -fx-background-color: FFFFFF;   /* Dark gray background */
    -fx-padding: 10;
    -fx-spacing: 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 5, 0.2, 0, 0);
}

/* Console title */
.console-title {
    -fx-text-fill: black;
    -fx-font-size: 14px;

}

/* Console TextArea (terminal style) */
.console-area {

    -fx-control-inner-background: FFFFFF;
    -fx-text-fill: black;                 /* black Green text (matrix style) */
    -fx-font-family: "Consolas", monospace;
    -fx-font-size: 10px;
    -fx-highlight-fill: #444444;            /* Selection background */
    -fx-highlight-text-fill: white;
    /*-fx-border-color: #333333;*/
    /*-fx-border-radius: 5;*/
}